extends layout

block content
	h1 Email
	form(action="/email", method="post")
		div.form-group
			input(type="text",class="form-control",id="subject",name="subject",placeholder="Subject",required)
		div.form-group
			textarea(type="textarea",class="form-control",id="message",name="message",placeholder="Message",required,maxlength="140",rows="7")
		div.text-center
			input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')